 <div class="wrap">
  <div class="footer">
   <div class="foot_nav"> 
      <ul>
         <li><a href="index.html">home</a></li>
         <li><a href="about.html">about</a></li>
         <li><a href="blog.html">Blog</a></li>
         <li><a href="contact.html">Contact</a></li>
         <div class="clear"></div>
      </ul>
   </div>
   <div class="foot_soc">
     <ul>
      <li><a class="icon1" href="#"></a></li>
      <li><a  class="icon2" href="#"></a></li>
      <li><a  class="icon3" href="#"></a></li>
      
      <li><a  class="icon4" href="#"></a></li>
      <div class="clear"></div>
     </ul>
   </div>
   <div class="clear"></div>
 </div>
</div>